html {
  --azulPrincipal: #71ade6;
  --azulNormal: rgb(145, 181, 247);
  --azulClarito: rgb(207, 222, 246);
  --azulFuerteT: rgba(55, 124, 244, 0.5);
  --textoPrincipal: white;
}

/* Toda la página tiene una tipografía sin serifa */
body {
  font-family: sans-serif;
}
/* Cabecera con color de fondo y texto blanco y centrado */
header {
  width: 100%;
  max-width: 800px;
  background-color: var(--azulPrincipal);
  color: var(--textoPrincipal);
  text-align: center;
}

h2 {
  color: var(--azulPrincipal);
}

/* Lista con viñetas diferentes a las qu vienen por defecto */
ul {
  list-style-type: circle;
}

/* Mostrar los objetos importantes de la lista en negrita y subrayado */
li.importante {
  text-decoration: underline;
  font-weight: bold;
}

/* CSS de la Tabla */
table {
  max-width: 800px;
  padding: 1rem;
}

/* Cabecera con color de fondo y texto diferente al resto */
thead {
  background-color: var(--azulPrincipal);
  color: var(--textoPrincipal);
}

th,
td {
  padding: 1rem;
}

/* filas pares tienen un color de fondo distinto a las impares */
tbody tr:nth-of-type(even) {
  background-color: var(--azulNormal);
}

tbody tr:nth-of-type(odd) {
  background-color: var(--azulClarito);
}

/* Titulo de filas con color de fondo transparente */
tbody th {
  background-color: var(--azulFuerteT);
}

/* Texto de la fila de descanso en mayúscula, negrita y centrado */
#descanso {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
